body {
    font-family: sans-serif;
    height: 100vh;
    width: 75%;
    margin: auto;
    box-sizing: border-box;
    background-color: black;
}

header, .hero, footer {
    background-color: #1f2937;
}

header, footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
}

.logo, .nav {
    display: flex;
    align-items: center;
}

.logo, ul {
    gap: 40px;
}

ul {
    display: flex;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

li {
    color:#e5e7eb;
    list-style-type: none;
    font-size: 18px;
}

#MP {
    height: 50px;
    width: auto;
    background-color: white;
    border-radius: 5px;
}

a, .intro p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero, .info-section, .quote, .cta, .footer {
    padding: 100px 150px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero h1 {
    font-weight:900;
    color: #f9faf8;
    font-size: 48px;
}

.hero p {
    margin-bottom: 32px;
}

.hero-image {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-wrap: nowrap;
    font-size: 20px;
    height: 50px;
    border: none;
}

.info-section, .cta {
    background-color: white;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info .image {
    height:auto;
    width: 150px;
    border-radius: 10px;
    border: solid 2px #3882f6;
}

.info div {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    gap: 15px;
}

.info p {
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

#quote {
    font-style:italic;
    font-weight:100;
    margin: 16px 70px;
    font-size: 36px;
    color: #1f2937;
}

#client {
    font-weight: 900;
    font-size: 28px;
    color: black;
    text-align: right;
    margin: 0 100px;
}

.cta-box {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 30px 75px;
    justify-content: space-between;
    gap: 60px;
    border-radius: 5px;
    margin: 50px 0;
    align-items: center;
}

h4, .cta-box p {
    margin: 0;
}

h4 {
    font-size: 22px;
    font-weight: 900;
    color: #f9faf8;
}

.cta-box p {
    font-size: 18px;
    color:#f9faf8;
    font-weight: 100;
}

.cta-box button {
   border: 2px white solid;
}

footer {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}