body {
    font-family: sans-serif;
    height: 100vh;
    width: 75%;
    box-sizing: border-box;
}

header, .hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 0 100px;
}

.logo, .nav {
    display: flex;
    align-items: center;
}

.logo, ul {
    gap: 40px;
}

ul {
    display: flex;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

li {
    color:#e5e7eb;
    list-style-type: none;
    font-size: 18px;
}

#MP {
    height: 50px;
    width: auto;
    background-color: white;
    border-radius: 5px;
}

a, .intro p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
    gap: 50px;
}

.hero h1 {
    font-weight:900;
    color: #f9faf8;
    font-size: 48px;
}

.hero-image {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
